.json5e-background,
.json5e-class,
.json5e-deck,
.json5e-deity,
.json5e-feat,
.json5e-hazard,
.json5e-item,
.json5e-monster,
.json5e-note,
.json5e-object,
.json5e-psionic,
.json5e-race,
.json5e-reward,
.json5e-spell,
.json5e-vehicle {
  div {
    &[src$="#center"] {
      text-align: center;
    }
    &[src$="#card"],
    &[src$="#symbol"],
    &[src$="#portrait"],
    &[src$="#token"],
    &[src$="#right"] {
      float: right;
      padding-left: 5px;
    }
    &[src$="#center"],
    &[src$="#right"] {
      img {
        max-height: 60vh;
      }
    }
    &[src$="#right"] {
      max-width: 50%;
    }
    &[src$="#card"],
    &[src$="#token"] {
      width: 150px;
    }
    &[src$="#symbol"],
    &[src$="#portrait"] {
      width: 200px;
    }
  }
}
/* For decks of cards, ensure images don't overlap */
.json5e-deck {
  h3 {
    clear: both;
  }
}
