// Variables
@use '../../variables/index-obsidian-var' as var;

//Maps
@use '../maps/pf2e-maps' as callout-map;
// Mixins Next
@use 'shake-ins/ca-root' as root;
@use 'shake-ins/ca-title' as title;
@use 'shake-ins/ca-content' as body;
@use 'shake-ins/ca-misc' as extras;

@each $key, $value in callout-map.$pf2e-callouts {
  .callout[data-callout='#{$key}'] {
    --callout-color: #{$value};
    // Mixins Here
    @include root.root-common;
    @include root.root-link;
    @include root.root-text;
    @include root.callout-drop;

    // General Styling Here
    background-color: #{$value};
    padding: var.$width-4-rem;

    & .callout-title {

      // Mixins Here
      @include title.title;

      // General Styling Here

      & .callout-icon .svg-icon {
        display: var.$no-display;
      }

      & .callout-title-inner {

        // Mixins Here
        @include title.inner-top;

        // General Styling Here
        font-weight: var.$weight-700;
        margin-left: 1rem;
        padding-bottom: var.$width-2-rem;

        em {
          font-weight: var.$weight-400;
        }
      }
    }


    & .callout-content {

      // Mixins Here
      @include body.content-lists;
      @include body.content-code;

      & blockquote {
        @include body.content-blockquotes;
      }

      @include body.linkies;

      @include extras.p-bottom;


      // General Styling Here

    }
  }
}
