// Variables
@use '../../variables/30-index-obsidian-var' as var;

//Maps
@use '../maps/pf2e-maps' as callout-map;
// Mixins Next
@use 'shake-ins/ca-root' as root;
@use 'shake-ins/ca-title' as title;
@use 'shake-ins/ca-content' as body;
@use 'shake-ins/ca-misc' as extras;


// Specifics...


// Callout Mass Production
@each $key, $value in callout-map.$pf2e-callouts {
  .callout[data-callout='#{$key}'] {
    --callout-border-opacity: 0.3;
    --callout-color: #{$value};
    // Mixins Here
    @include root.common-root;
    @include root.callout-drop;

    // General Styling Here
    background-color: #{$value};
    color: var.$almost-black;
    border-color: var(--pf2e-light-brown-headers);
    border-style: solid;
    border-width: 0.05rem;
    margin: var.$width-3-rem var.$width-2-rem var.$width-2-rem;
    padding: var.$width-2-rem;

    & .callout-title {

      // Mixins Here
      @include title.title;

      // General Styling Here

      & .callout-icon .svg-icon {
        display: var.$no-display;
      }

      & .callout-title-inner {

        // Mixins Here
        @include title.inner-top;

        // General Styling Here
        font-weight: var.$weight-700;
        margin-left: var.$size-4-4-rem;
        padding-bottom: var.$width-2-rem;
      }
    }


    & .callout-content {
      background-color: #{$value};
      padding: var.$size-4-4-rem;

      // Mixins Here
      @include body.content-headings(1);
      @include body.content-headings(2);
      @include body.content-headings(3);
      @include body.content-lists;
      @include body.content-code;
      @include body.content-links;
      @include body.content-strong;

      & blockquote {
        @include body.content-blockquotes;
      }

      @include extras.callout-extras-p-bottom;


      // General Styling Here

    }
  }
}
