// Variables
@use '../../variables/index-obsidian-var' as var;


.callout[data-callout='pf2-brown'] {

  & .callout-title {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    
    & .callout-title-inner {
      font-family: 'Helvetica Neue', Helvetica, Arial, 'Pathfinder', sans-serif;
      margin-left: 0.25rem;
      text-align: center;
    }
  }

  & .callout-content {

    strong {

    }

    em {
 
    }

    h2 {
      text-align: var.$align-center;
    }

    h3 {
      text-align: var.$align-center;
    }
  }
}
