// Variables
@use '../../variables/index-obsidian-var' as var;

.callout[data-callout=pf2-note] {
  clear: both;
  font-style: var.$font-style-i;
  text-align: var.$align-center;
  margin-bottom: 1rem;

  & .callout-title {
      align-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

    & .callout-title-inner {
      flex: unset;
      display: none;

      .admonition & {
        display: inline;
      }
    }
  }

  & .callout-content {
    margin-bottom: -0.5rem;
  }
}
