// Variables
@use '../../variables/index-obsidian-var' as var;

$tip-bg-color-dark: rgba(102, 145, 204, 1);
$tip-bg-color-light: rgba(6, 20, 53, 1);
$tip-font-yellow: rgba(217, 204, 140, 1);
$tip-dark-regular-link: rgba(216, 182, 255, 1);
$tip-dark-visited-link: #f2c8ff;
$tip-dark-hover-link: #ffc8b6;
$tip-light-regular-link: #243f5b;
$tip-light-visited-link: #1d2d44;
$tip-light-hover-link: #40699d;

.callout[data-callout='pf2-tip'] {

  & .callout-title {
    background-color: $tip-bg-color-light;

    & .callout-icon .svg-icon {
      display: none;
    }

    & .callout-title-inner {
      color: $tip-font-yellow;
      margin-left: 0.25rem;
      text-align: left;
    }
  }

  & .callout-content {


    a {
      font-weight: 600;
      color: $tip-light-regular-link;

      &:visited {
        color: $tip-light-visited-link;
      }

      &:hover {
        color: $tip-light-hover-link;
      }

      .theme-dark & {
        color: $tip-dark-regular-link;

        &:visited {
          color: $tip-dark-visited-link;
        }

        &:hover {
          color: $tip-dark-hover-link;
        }
      }
    }

    p {
      text-align: justify;
    }
  }
}
