// Variables
@use '../../variables/30-index-obsidian-var' as var;

//Maps
@use '../maps/pf2e-maps' as admonition-map;

// Mixins Next
@use 'shake-ins/ca-root' as root;
@use 'shake-ins/ca-title' as title;
@use 'shake-ins/ca-content' as body;
@use 'shake-ins/ca-misc' as extras;

// Local Variables
$call-box-shadow: rgba(26, 34, 77, 0.9);
$svg-size-content: 16px;
$svg-size: 18px;
$half-rem: 0.5rem;


//Time to color this Seed
@each $key, $value in admonition-map.$pf2e-admonitions {
  .admonition[data-callout='#{$key}'] {
    --callout-border-opacity: 0.3;
    --callout-color: #{$value};
    --callout-content-background: #{$value};
    // Mixins Here
    @include root.common-root;

    // General Styling Here
    box-shadow: 0 0 5px 0 $call-box-shadow;
    border-color: var(--pf2e-light-brown-headers);
    border-style: solid;
    border-width: 0.05rem;
    color: var.$almost-black;
    margin: var.$width-3-rem var.$width-2-rem var.$width-2-rem;
    padding: var.$width-2-rem;

    & .admonition-title {
      background-color: #{$value};
      // Mixins Here
      @include title.title;

      // General Styling Here

      & .admonition-title-icon .svg-icon {

        // General Styling Here
        display: var.$block;
        height: 1.5rem;
        left: $half-rem;
        margin-left: $half-rem;
        position: absolute;
        top: $half-rem;
        width: 1.5rem;

        &:has(.content) {
          height: $svg-size-content;
          width: $svg-size-content;
        }
      }

      & .admonition-title-inner {
        // Mixins Here
        @include title.inner-top;

        // General Styling Here
        font-weight: var.$weight-700;
        padding-bottom: var.$width-2-rem;
        margin-right: var.$width-2-rem;
      }
    }


    & .admonition-content {
      background-color: #{$value};
      padding: var.$size-4-4-rem;
      // Mixins Here
      @include body.content-headings(1);
      @include body.content-headings(2);
      @include body.content-headings(3);
      @include body.content-headings(4);
      @include body.content-headings(5);
      @include body.content-headings(6);
      @include body.content-lists;
      @include body.content-code;
      @include body.content-links;
      @include body.content-strong;

      & blockquote {
        @include body.content-blockquotes;
      }

      //General Styling Here
      @include extras.callout-extras-p-bottom;
      @include body.admonition-callout-kids;
    }

    @include body.admonition-copy;
  }
}
