// Variables
@use '../../variables/index-obsidian-var' as var;
@use 'shake-ins/admon-content-styling' as content-styles;

.callout.callout[data-callout='pf2-example'] {

  & .callout-title {
  }

  & .callout-content {
    @include content-styles.common-admonition-typography;
  }
}
