// Variables
@use '../../variables/30-index-obsidian-var' as var;
@use 'shake-ins/admon-content-styling' as content-styles;

.callout[data-callout='pf2-key-box'] {
  color: var.$very-light-grey;
  clear: left;
  display: inline-flex;
  float-wrap: wrap;
  float: left;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;

  & .callout-content {
    @include content-styles.embed-disease-content;
  }
}
