// Variables
@use '../../variables/index-obsidian-var' as var;
@use 'shake-ins/admon-content-styling' as content-styles;

$beige-padding-25: 0.25rem;

.callout[data-callout='pf2-beige'] {

  & .callout-title {
    & .callout-title-inner {
      margin-left: $beige-padding-25;
      padding-bottom: $beige-padding-25;
    }
  }

  & .callout-content {
    @include content-styles.common-admonition-typography;

    h1, h2, h3, h4, h5, h6 {
      text-align: var.$align-left;
      padding-left: $beige-padding-25;
    }
  }

}
