// Variables
@use '../../variables/30-index-obsidian-var' as var;
@use 'shake-ins/admon-content-styling' as content-styles;
.callout[data-callout='pf2-red'] {
  color: var.$very-light-grey;

  & .callout-title {

    & .callout-title-inner {
      font-family: 'Times New Roman', Times, serif;

      strong {
        color: var.$very-light-red;
      }

      a {
        color: var.$strong-orange;
      }
    }
  }

  & .callout-content {
    @include content-styles.embed-disease-content;

    table {
      & th {
        color: var.$very-light-grey;
      }
    }
  }
}
