//Maps
$pf2e-callouts: (
        pf2-beige: #f0e9d6,
        pf2-brown: #d2beaa,
        pf2-example: #ccdbbd,
        pf2-inset: #e9e4d9,
        pf2-key-box: #550c06,
        pf2-quote: #e7aad4,
        pf2-sidebar: #f4f3f0,
        pf2-red: #550c06,
        pf2-tip: #d1d3d4,
        pf2-note: #e3dfbb,
        success-degree: #e6e6b4,
);

$pf2e-admonitions: (
        pf2-note: rgb(227, 223, 187), // Rage of the Elements
  // The above appear as a callout and as an admonition
        embed-ability: rgb(182, 197, 200), // Players Guide
        embed-action: rgb(238, 221, 227), // Bestiary 1
        embed-avatar: rgb(236, 202, 99), // Bestiary 2
        embed-disease: rgb(36, 36, 36), // Bestiary 3
        embed-feat: rgb(239, 187, 169), // Core Rulebook
        embed-item: rgb(163, 200, 209), // Dark Archive
        embed-ritual: rgb(158, 187, 144), // Book of Dead
        inline-affliction: rgb(218, 216, 218), // Game-mastery Guide
        inline-attack: rgb(245, 229, 188), //Guns and Gears
        pf2-summary: rgb(209, 224, 224), // Secrets of Magic
        statblock-pf2: rgb(239, 215, 143), // Pathfinder Logo
);
