// Variables
@use '../30-index-obsidian-var' as var;

// Common-Mixin
@mixin shared-sub-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  text-align: center;
  vertical-align: baseline;
}

// Individual Mixins
sub {
  @include shared-sub-sup;
  bottom: -0.25em;
}

sup {  @include shared-sub-sup;
  top: -0.5em;
}
