//Maps
$pf2e-callouts: (
        pf2-beige: #f0e9d6,
        pf2-brown: #d2beaa,
        pf2-example: #ccdbbd,
        pf2-inset: #e9e4d9,
        pf2-key-box: #550c06,
        pf2-paper: #6071a8,
        pf2-quote: #e7aad4,
        pf2-sidebar: #f4f3f0,
        pf2-red: #550c06,
        pf2-tip: #d1d3d4,
        pf2-note: #e3dfbb,
        success-degree: #e6e6b4,
);

$pf2e-admonitions: (
        pf2-note: #e3dfbb, // Rage of the Elements
        pf2-summary: #85adad, // Secrets of Magic
  // The two above appear as a callout and as an admonition
        embed-ability: #9fb3b7, // Players Guide
        embed-action: #cecec5, // Bestiary 1
        embed-avatar: #89b8b0, // Bestiary 2
        embed-disease: #e0a89b, // Bestiary 3
        embed-feat: #e9a28a, // Core Rulebook
        embed-item: #a3c8d1, // Dark Archive
        embed-ritual: #9ebb90, // Book of Dead
        inline-affliction: #d9d8da, // Gamemastery Guide
        inline-attack: #e9c363, //Guns and Gears
);
