// Variables
@use '../../variables/index-obsidian-var' as var;

$box-length: 20px;

// Common-Mixins
@mixin link-styles {
  border-radius: 5px;
  cursor: help;
  font-weight: bold;
  margin-bottom: 0.75rem;
  padding: 2px;
  text-align: left;
  text-indent: 0;
  word-break: keep-all;
}

.markdown-rendered {
  // Box Shadows for Links
  & .internal-link {
    &:is([href^='/rules/traits/']) {
      border: 1px solid var(--box-traits);
      background: var(--box-traits);
      background-clip: padding-box;
      color: whitesmoke !important;
      @include link-styles;
    }

    // Any Condition from the Conditions Page
    &:is([href*='/rules/conditions.md']) {
      border: 1px solid var(--box-condition);
      background: var(--box-condition);
      background-clip: padding-box;
      color: whitesmoke !important;
      @include link-styles;
    }

    // Any Trait from the Skills Page
    &:is([href*='/compendium/skills.md']) {
      border: 1px solid var(--box-skills);
      background: var(--box-skills);
      background-clip: padding-box;
      color: whitesmoke !important;
      @include link-styles;
    }
  }
}

// Trying to Isolate Uncommon Traits
a[href='/rules/traits/Uncommon.md'] {
  border: 2px solid var(--box-uncommon);
  background: var(--box-uncommon);
  background-clip: padding-box;
  color: whitesmoke !important;
  @include link-styles;
}
