// Variables
@use '../../variables/index-obsidian-var' as var;

// Scrollbars for Callouts
:is(.pf2e) {
  &:is(.callout, .admonition) {
    &:hover {
      scrollbar-color: var(--scrollbar-active-thumb-bg) transparent;
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: var(--scrollbar-hover);
      border: var.$width-4-rem var.$border-solid transparent;
      background-clip: var.$box-02;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-active-thumb-bg);
      border: var.$width-1-rem var.$border-solid var(--scrollbar-thumb-bg);
    }
  }
}
