// Variables
@use '../../../variables/index-obsidian-var' as var;

// Mixin for common styles
@mixin root-common {
  font-size: var.$block-body;
  overflow-wrap: var.$overflow-word-break;
  overflow-y: scroll;
}

// Common styles for .callout and .admonition
@mixin common-root {
  --callout-background-alpha: #{var.$opacity-20};
  --callout-padding: #{var.$size-4-4-rem};
  --callout-radius: #{var.$width-4-rem};
  @include root-common;
}

// Callout-drop-shadows
@mixin callout-drop {
  &:not(.admonition).drop-shadow {
    box-shadow: var.$very-dark-teal 0 20px 30px -10px;
  }
}
