// Variables
@use '../../30-index-obsidian-var' as var;

@mixin title {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: var.$align-center;
  align-items: var.$align-center;
  align-content: var.$align-center;

  border: var.$no-display;
  display: var.$flex;
  padding-top: var.$size-4-2-rem;
  padding-bottom: var.$size-4-2-rem;
  position: var.$relative;
}


@mixin inner-top {
  font-size: var.$h2-size;

  em {
    font-weight: var.$weight-500;
  }
}
