.theme-dark {
  --statblock-section-line: 201,60,60;
}

.theme-light {
  --statblock-section-line: 201,60,60;
}

/* Deity: #symbol images */
.json5e-deity img[src$="#symbol"],
.json5e-deity div[src$="#symbol"] {
  float: right;
  margin-left: 5px;
  width: 200px;
}

.json5e-background .inline-title,
.json5e-class .inline-title,
.json5e-deity .inline-title,
.json5e-feat .inline-title,
.json5e-item .inline-title,
.json5e-monster .inline-title,
.json5e-names .inline-title,
.json5e-note .inline-title,
.json5e-race .inline-title,
.json5e-spell .inline-title {
  display: none;
}

.json5e-background div[src$="#center"],
.json5e-item div[src$="#center"],
.json5e-monster div[src$="#center"],
.json5e-race div[src$="#center"],
.json5e-spell div[src$="#center"] {
  text-align: center;
}
.json5e-background div[src$="#center"] img,
.json5e-item div[src$="#center"] img,
.json5e-monster div[src$="#center"] img,
.json5e-race div[src$="#center"] img,
.json5e-spell div[src$="#center"] img {
  height: 300px;
}
.json5e-background div[src$="#right"],
.json5e-item div[src$="#right"],
.json5e-monster div[src$="#right"],
.json5e-race div[src$="#right"],
.json5e-spell div[src$="#right"] {
  float: right;
  margin-left: 5px;
}
.json5e-background div[src$="#right"] img,
.json5e-item div[src$="#right"] img,
.json5e-monster div[src$="#right"] img,
.json5e-race div[src$="#right"] img,
.json5e-spell div[src$="#right"] img {
  height: 300px;
}

.creature-view-container.workspace-leaf-content {
  background-color: var(--background-primary-alt);
}
.creature-view-container.workspace-leaf-content .admonition {
  margin-top: 0;
}

/* Monster: statblocks and #token images */
.rendered-widget .admonition-statblock-parent,
.markdown-rendered .admonition-statblock-parent,
.markdown-preview-section .admonition-statblock-parent {
  clear: both;
}
.rendered-widget .callout[data-callout=statblock],
.markdown-rendered .callout[data-callout=statblock],
.markdown-preview-section .callout[data-callout=statblock] {
  --callout-color: var(--statblock-section-line);
  --callout-border-width: 0 0 0 0.08rem;
}
.rendered-widget .callout[data-callout=statblock] .callout-title,
.markdown-rendered .callout[data-callout=statblock] .callout-title,
.markdown-preview-section .callout[data-callout=statblock] .callout-title {
  line-height: var(--line-height);
}
.rendered-widget .callout[data-callout=statblock] .callout-title .callout-title-inner,
.markdown-rendered .callout[data-callout=statblock] .callout-title .callout-title-inner,
.markdown-preview-section .callout[data-callout=statblock] .callout-title .callout-title-inner {
  font-size: var(--h3-size);
  flex: 2;
}
.rendered-widget .callout[data-callout=statblock] img[src$="#token"],
.rendered-widget .callout[data-callout=statblock] div[src$="#token"],
.markdown-rendered .callout[data-callout=statblock] img[src$="#token"],
.markdown-rendered .callout[data-callout=statblock] div[src$="#token"],
.markdown-preview-section .callout[data-callout=statblock] img[src$="#token"],
.markdown-preview-section .callout[data-callout=statblock] div[src$="#token"] {
  float: right;
  margin-left: 5px;
  width: 150px;
}
.rendered-widget .callout[data-callout=statblock] .callout-content,
.markdown-rendered .callout[data-callout=statblock] .callout-content,
.markdown-preview-section .callout[data-callout=statblock] .callout-content {
  background-color: var(--background-primary);
}
.rendered-widget .callout[data-callout=statblock] .callout-content > :first-child,
.markdown-rendered .callout[data-callout=statblock] .callout-content > :first-child,
.markdown-preview-section .callout[data-callout=statblock] .callout-content > :first-child {
  margin-top: 0.5em;
}
.rendered-widget .callout[data-callout=statblock] .callout-content > :last-child,
.markdown-rendered .callout[data-callout=statblock] .callout-content > :last-child,
.markdown-preview-section .callout[data-callout=statblock] .callout-content > :last-child {
  margin-bottom: 0.5em;
}
.rendered-widget .callout[data-callout=statblock] .callout-content h1,
.rendered-widget .callout[data-callout=statblock] .callout-content h2,
.rendered-widget .callout[data-callout=statblock] .callout-content h3,
.markdown-rendered .callout[data-callout=statblock] .callout-content h1,
.markdown-rendered .callout[data-callout=statblock] .callout-content h2,
.markdown-rendered .callout[data-callout=statblock] .callout-content h3,
.markdown-preview-section .callout[data-callout=statblock] .callout-content h1,
.markdown-preview-section .callout[data-callout=statblock] .callout-content h2,
.markdown-preview-section .callout[data-callout=statblock] .callout-content h3 {
  font-family: var(--default-font);
  font-variant: common-ligatures small-caps;
}
.rendered-widget .callout[data-callout=statblock] .callout-content h1,
.markdown-rendered .callout[data-callout=statblock] .callout-content h1,
.markdown-preview-section .callout[data-callout=statblock] .callout-content h1 {
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
.rendered-widget .callout[data-callout=statblock] .callout-content h2,
.rendered-widget .callout[data-callout=statblock] .callout-content h3,
.markdown-rendered .callout[data-callout=statblock] .callout-content h2,
.markdown-rendered .callout[data-callout=statblock] .callout-content h3,
.markdown-preview-section .callout[data-callout=statblock] .callout-content h2,
.markdown-preview-section .callout[data-callout=statblock] .callout-content h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 0.5em 0 0 0;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid rgb(var(--statblock-section-line));
}
.rendered-widget .callout[data-callout=statblock] .callout-content p,
.markdown-rendered .callout[data-callout=statblock] .callout-content p,
.markdown-preview-section .callout[data-callout=statblock] .callout-content p {
  line-height: 1.2em;
  margin-block-start: 0.5em;
}
.rendered-widget .callout[data-callout=statblock] .callout-content li,
.markdown-rendered .callout[data-callout=statblock] .callout-content li,
.markdown-preview-section .callout[data-callout=statblock] .callout-content li {
  line-height: 1.2em;
  margin-block-start: 0.5em;
}

/*# sourceMappingURL=compendium.css.map */
