@charset "UTF-8";
/*! Source: https://github.com/ebullient/ttrpg-convert-cli/blob/main/src/scss/dnd5e-compendium.scss */
body {
  --admonition-charm: 211,141,159;
  --admonition-charm-text: var(--admonition-charm);
  --admonition-letter: 98, 159, 197;
  --admonition-npc: 102, 121, 137;
  --admonition-scene: 139, 167, 145;
  --admonition-skill: 236,201,134;
  --admonition-skill-text: var(--admonition-skill);
  --admonition-weather: 53,119,174;
  --admonition-flowchart: 72,72,72;
}

.theme-light {
  --admonition-charm: 222,170,184;
  --admonition-charm-text: 167,92,112;
  --admonition-npc: 58, 125, 127;
  --admonition-scene: 92, 122, 99;
  --admonition-skill: 221,178,84;
  --admonition-skill-text: 157,101,83;
}

.callout[data-callout=charm] {
  --callout-color: var(--admonition-charm);
  --callout-title-color: rgb(var(--admonition-charm-text));
}
.callout[data-callout=charm] .callout-title {
  color: var(--callout-title-color);
}

.callout[data-callout=letter] {
  --callout-color: var(--admonition-letter);
}

.callout[data-callout=npc] {
  --callout-color: var(--admonition-npc);
}

.callout[data-callout=readaloud],
.callout[data-callout=scene] {
  --callout-color: var(--admonition-scene);
}

.callout[data-callout=skill] {
  --callout-color: var(--admonition-skill);
  --callout-title-color: rgb(var(--admonition-skill-text));
}

.callout[data-callout=weather] {
  --callout-color: var(--admonition-weather);
}

.callout[data-callout=flowchart] {
  --callout-color: var(--admonition-flowchart);
  --callout-border-width: 0.10rem;
}

.callout[data-callout^=embed-] {
  --embed-border-left: none;
  --embed-border-right: none;
  --embed-padding: 0;
}

.json5e-background div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-class div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-deck div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-deity div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-feat div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-hazard div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-item div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-monster div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-note div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-object div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-psionic div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-race div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-reward div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-spell div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]),
.json5e-vehicle div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]) {
  position: relative;
}
.json5e-background div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-class div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-deck div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-deity div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-feat div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-hazard div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-item div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-monster div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-note div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-object div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-psionic div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-race div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-reward div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-spell div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after,
.json5e-vehicle div:has(> .callout[data-callout=flowchart]):has(+ div > .callout[data-callout=flowchart]):after {
  content: "↓";
  color: var(--admonition-flowchart);
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: 7px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  text-align: center;
}
.json5e-background .callout[data-callout=gallery],
.json5e-class .callout[data-callout=gallery],
.json5e-deck .callout[data-callout=gallery],
.json5e-deity .callout[data-callout=gallery],
.json5e-feat .callout[data-callout=gallery],
.json5e-hazard .callout[data-callout=gallery],
.json5e-item .callout[data-callout=gallery],
.json5e-monster .callout[data-callout=gallery],
.json5e-note .callout[data-callout=gallery],
.json5e-object .callout[data-callout=gallery],
.json5e-psionic .callout[data-callout=gallery],
.json5e-race .callout[data-callout=gallery],
.json5e-reward .callout[data-callout=gallery],
.json5e-spell .callout[data-callout=gallery],
.json5e-vehicle .callout[data-callout=gallery] {
  --callout-color: transparent;
  --callout-border-width: 0;
}
.json5e-background .callout[data-callout=gallery] .callout-content p,
.json5e-class .callout[data-callout=gallery] .callout-content p,
.json5e-deck .callout[data-callout=gallery] .callout-content p,
.json5e-deity .callout[data-callout=gallery] .callout-content p,
.json5e-feat .callout[data-callout=gallery] .callout-content p,
.json5e-hazard .callout[data-callout=gallery] .callout-content p,
.json5e-item .callout[data-callout=gallery] .callout-content p,
.json5e-monster .callout[data-callout=gallery] .callout-content p,
.json5e-note .callout[data-callout=gallery] .callout-content p,
.json5e-object .callout[data-callout=gallery] .callout-content p,
.json5e-psionic .callout[data-callout=gallery] .callout-content p,
.json5e-race .callout[data-callout=gallery] .callout-content p,
.json5e-reward .callout[data-callout=gallery] .callout-content p,
.json5e-spell .callout[data-callout=gallery] .callout-content p,
.json5e-vehicle .callout[data-callout=gallery] .callout-content p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.json5e-background .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-background .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-class .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-class .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-deck .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-deck .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-deity .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-deity .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-feat .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-feat .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-hazard .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-hazard .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-item .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-item .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-monster .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-monster .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-note .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-note .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-object .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-object .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-psionic .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-psionic .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-race .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-race .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-reward .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-reward .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-spell .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-spell .callout[data-callout=gallery] .callout-content div[src$="#gallery"],
.json5e-vehicle .callout[data-callout=gallery] .callout-content span[src$="#gallery"],
.json5e-vehicle .callout[data-callout=gallery] .callout-content div[src$="#gallery"] {
  max-width: 49%;
}
.json5e-background .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-background .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-class .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-class .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-deck .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-deck .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-deity .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-deity .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-feat .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-feat .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-hazard .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-hazard .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-item .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-item .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-monster .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-monster .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-note .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-note .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-object .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-object .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-psionic .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-psionic .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-race .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-race .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-reward .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-reward .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-spell .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-spell .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img,
.json5e-vehicle .callout[data-callout=gallery] .callout-content span[src$="#gallery"] img,
.json5e-vehicle .callout[data-callout=gallery] .callout-content div[src$="#gallery"] img {
  max-height: 40vh;
}
.json5e-background .callout[data-callout=gallery] .callout-title,
.json5e-class .callout[data-callout=gallery] .callout-title,
.json5e-deck .callout[data-callout=gallery] .callout-title,
.json5e-deity .callout[data-callout=gallery] .callout-title,
.json5e-feat .callout[data-callout=gallery] .callout-title,
.json5e-hazard .callout[data-callout=gallery] .callout-title,
.json5e-item .callout[data-callout=gallery] .callout-title,
.json5e-monster .callout[data-callout=gallery] .callout-title,
.json5e-note .callout[data-callout=gallery] .callout-title,
.json5e-object .callout[data-callout=gallery] .callout-title,
.json5e-psionic .callout[data-callout=gallery] .callout-title,
.json5e-race .callout[data-callout=gallery] .callout-title,
.json5e-reward .callout[data-callout=gallery] .callout-title,
.json5e-spell .callout[data-callout=gallery] .callout-title,
.json5e-vehicle .callout[data-callout=gallery] .callout-title {
  display: none;
}

body {
  --statblock-accent: 201,60,60;
}

.admonition-statblock-parent {
  clear: both;
}

.callout[data-callout=statblock] {
  --callout-color: var(--statblock-accent);
  --embed-border-left: none;
  --embed-border-right: none;
  --embed-padding: 0;
}
.callout[data-callout=statblock] .callout-title {
  line-height: var(--line-height);
}
.callout[data-callout=statblock] .callout-title .callout-title-content {
  flex: 2;
  font-size: var(--h3-size);
}
.callout[data-callout=statblock] .callout-content > :first-child {
  margin-top: 0.5em;
}
.callout[data-callout=statblock] .callout-content > :last-child {
  margin-bottom: 0.5em;
}
.callout[data-callout=statblock] .callout-content h1,
.callout[data-callout=statblock] .callout-content h2,
.callout[data-callout=statblock] .callout-content h3 {
  font-family: var(--default-font);
  font-variant: common-ligatures small-caps;
}
.callout[data-callout=statblock] .callout-content h1 {
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
.callout[data-callout=statblock] .callout-content h2,
.callout[data-callout=statblock] .callout-content h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 0.5em 0 0 0;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid rgb(var(--statblock-accent));
}
.callout[data-callout=statblock] .callout-content p {
  line-height: 1.2em;
  margin-block-start: 0.5em;
}
.callout[data-callout=statblock] .callout-content li {
  line-height: 1.2em;
  margin-block-start: 0.5em;
}
.callout[data-callout=statblock] .markdown-embed .markdown-embed-title,
.callout[data-callout=statblock] .markdown-embed .mod-header {
  display: none;
}
.callout[data-callout=statblock] .markdown-embed pre.frontmatter,
.callout[data-callout=statblock] .markdown-embed h1[data-heading] {
  display: none;
}
.callout[data-callout=statblock] .markdown-embed .markdown-embed-content {
  max-height: unset;
  overflow: unset;
}
.callout[data-callout=statblock] .markdown-embed .markdown-embed-content > .markdown-preview-view {
  overflow-y: unset;
}

.json5e-background div[src$="#center"],
.json5e-background span[src$="#center"],
.json5e-class div[src$="#center"],
.json5e-class span[src$="#center"],
.json5e-deck div[src$="#center"],
.json5e-deck span[src$="#center"],
.json5e-deity div[src$="#center"],
.json5e-deity span[src$="#center"],
.json5e-feat div[src$="#center"],
.json5e-feat span[src$="#center"],
.json5e-hazard div[src$="#center"],
.json5e-hazard span[src$="#center"],
.json5e-item div[src$="#center"],
.json5e-item span[src$="#center"],
.json5e-monster div[src$="#center"],
.json5e-monster span[src$="#center"],
.json5e-note div[src$="#center"],
.json5e-note span[src$="#center"],
.json5e-object div[src$="#center"],
.json5e-object span[src$="#center"],
.json5e-psionic div[src$="#center"],
.json5e-psionic span[src$="#center"],
.json5e-race div[src$="#center"],
.json5e-race span[src$="#center"],
.json5e-reward div[src$="#center"],
.json5e-reward span[src$="#center"],
.json5e-spell div[src$="#center"],
.json5e-spell span[src$="#center"],
.json5e-vehicle div[src$="#center"],
.json5e-vehicle span[src$="#center"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.json5e-background div[src$="#card"], .json5e-background div[src$="#symbol"], .json5e-background div[src$="#portrait"], .json5e-background div[src$="#token"], .json5e-background div[src$="#right"],
.json5e-background span[src$="#card"],
.json5e-background span[src$="#symbol"],
.json5e-background span[src$="#portrait"],
.json5e-background span[src$="#token"],
.json5e-background span[src$="#right"],
.json5e-class div[src$="#card"],
.json5e-class div[src$="#symbol"],
.json5e-class div[src$="#portrait"],
.json5e-class div[src$="#token"],
.json5e-class div[src$="#right"],
.json5e-class span[src$="#card"],
.json5e-class span[src$="#symbol"],
.json5e-class span[src$="#portrait"],
.json5e-class span[src$="#token"],
.json5e-class span[src$="#right"],
.json5e-deck div[src$="#card"],
.json5e-deck div[src$="#symbol"],
.json5e-deck div[src$="#portrait"],
.json5e-deck div[src$="#token"],
.json5e-deck div[src$="#right"],
.json5e-deck span[src$="#card"],
.json5e-deck span[src$="#symbol"],
.json5e-deck span[src$="#portrait"],
.json5e-deck span[src$="#token"],
.json5e-deck span[src$="#right"],
.json5e-deity div[src$="#card"],
.json5e-deity div[src$="#symbol"],
.json5e-deity div[src$="#portrait"],
.json5e-deity div[src$="#token"],
.json5e-deity div[src$="#right"],
.json5e-deity span[src$="#card"],
.json5e-deity span[src$="#symbol"],
.json5e-deity span[src$="#portrait"],
.json5e-deity span[src$="#token"],
.json5e-deity span[src$="#right"],
.json5e-feat div[src$="#card"],
.json5e-feat div[src$="#symbol"],
.json5e-feat div[src$="#portrait"],
.json5e-feat div[src$="#token"],
.json5e-feat div[src$="#right"],
.json5e-feat span[src$="#card"],
.json5e-feat span[src$="#symbol"],
.json5e-feat span[src$="#portrait"],
.json5e-feat span[src$="#token"],
.json5e-feat span[src$="#right"],
.json5e-hazard div[src$="#card"],
.json5e-hazard div[src$="#symbol"],
.json5e-hazard div[src$="#portrait"],
.json5e-hazard div[src$="#token"],
.json5e-hazard div[src$="#right"],
.json5e-hazard span[src$="#card"],
.json5e-hazard span[src$="#symbol"],
.json5e-hazard span[src$="#portrait"],
.json5e-hazard span[src$="#token"],
.json5e-hazard span[src$="#right"],
.json5e-item div[src$="#card"],
.json5e-item div[src$="#symbol"],
.json5e-item div[src$="#portrait"],
.json5e-item div[src$="#token"],
.json5e-item div[src$="#right"],
.json5e-item span[src$="#card"],
.json5e-item span[src$="#symbol"],
.json5e-item span[src$="#portrait"],
.json5e-item span[src$="#token"],
.json5e-item span[src$="#right"],
.json5e-monster div[src$="#card"],
.json5e-monster div[src$="#symbol"],
.json5e-monster div[src$="#portrait"],
.json5e-monster div[src$="#token"],
.json5e-monster div[src$="#right"],
.json5e-monster span[src$="#card"],
.json5e-monster span[src$="#symbol"],
.json5e-monster span[src$="#portrait"],
.json5e-monster span[src$="#token"],
.json5e-monster span[src$="#right"],
.json5e-note div[src$="#card"],
.json5e-note div[src$="#symbol"],
.json5e-note div[src$="#portrait"],
.json5e-note div[src$="#token"],
.json5e-note div[src$="#right"],
.json5e-note span[src$="#card"],
.json5e-note span[src$="#symbol"],
.json5e-note span[src$="#portrait"],
.json5e-note span[src$="#token"],
.json5e-note span[src$="#right"],
.json5e-object div[src$="#card"],
.json5e-object div[src$="#symbol"],
.json5e-object div[src$="#portrait"],
.json5e-object div[src$="#token"],
.json5e-object div[src$="#right"],
.json5e-object span[src$="#card"],
.json5e-object span[src$="#symbol"],
.json5e-object span[src$="#portrait"],
.json5e-object span[src$="#token"],
.json5e-object span[src$="#right"],
.json5e-psionic div[src$="#card"],
.json5e-psionic div[src$="#symbol"],
.json5e-psionic div[src$="#portrait"],
.json5e-psionic div[src$="#token"],
.json5e-psionic div[src$="#right"],
.json5e-psionic span[src$="#card"],
.json5e-psionic span[src$="#symbol"],
.json5e-psionic span[src$="#portrait"],
.json5e-psionic span[src$="#token"],
.json5e-psionic span[src$="#right"],
.json5e-race div[src$="#card"],
.json5e-race div[src$="#symbol"],
.json5e-race div[src$="#portrait"],
.json5e-race div[src$="#token"],
.json5e-race div[src$="#right"],
.json5e-race span[src$="#card"],
.json5e-race span[src$="#symbol"],
.json5e-race span[src$="#portrait"],
.json5e-race span[src$="#token"],
.json5e-race span[src$="#right"],
.json5e-reward div[src$="#card"],
.json5e-reward div[src$="#symbol"],
.json5e-reward div[src$="#portrait"],
.json5e-reward div[src$="#token"],
.json5e-reward div[src$="#right"],
.json5e-reward span[src$="#card"],
.json5e-reward span[src$="#symbol"],
.json5e-reward span[src$="#portrait"],
.json5e-reward span[src$="#token"],
.json5e-reward span[src$="#right"],
.json5e-spell div[src$="#card"],
.json5e-spell div[src$="#symbol"],
.json5e-spell div[src$="#portrait"],
.json5e-spell div[src$="#token"],
.json5e-spell div[src$="#right"],
.json5e-spell span[src$="#card"],
.json5e-spell span[src$="#symbol"],
.json5e-spell span[src$="#portrait"],
.json5e-spell span[src$="#token"],
.json5e-spell span[src$="#right"],
.json5e-vehicle div[src$="#card"],
.json5e-vehicle div[src$="#symbol"],
.json5e-vehicle div[src$="#portrait"],
.json5e-vehicle div[src$="#token"],
.json5e-vehicle div[src$="#right"],
.json5e-vehicle span[src$="#card"],
.json5e-vehicle span[src$="#symbol"],
.json5e-vehicle span[src$="#portrait"],
.json5e-vehicle span[src$="#token"],
.json5e-vehicle span[src$="#right"] {
  float: right;
  padding-left: 5px;
}
.json5e-background div[src$="#center"] img, .json5e-background div[src$="#right"] img,
.json5e-background span[src$="#center"] img,
.json5e-background span[src$="#right"] img,
.json5e-class div[src$="#center"] img,
.json5e-class div[src$="#right"] img,
.json5e-class span[src$="#center"] img,
.json5e-class span[src$="#right"] img,
.json5e-deck div[src$="#center"] img,
.json5e-deck div[src$="#right"] img,
.json5e-deck span[src$="#center"] img,
.json5e-deck span[src$="#right"] img,
.json5e-deity div[src$="#center"] img,
.json5e-deity div[src$="#right"] img,
.json5e-deity span[src$="#center"] img,
.json5e-deity span[src$="#right"] img,
.json5e-feat div[src$="#center"] img,
.json5e-feat div[src$="#right"] img,
.json5e-feat span[src$="#center"] img,
.json5e-feat span[src$="#right"] img,
.json5e-hazard div[src$="#center"] img,
.json5e-hazard div[src$="#right"] img,
.json5e-hazard span[src$="#center"] img,
.json5e-hazard span[src$="#right"] img,
.json5e-item div[src$="#center"] img,
.json5e-item div[src$="#right"] img,
.json5e-item span[src$="#center"] img,
.json5e-item span[src$="#right"] img,
.json5e-monster div[src$="#center"] img,
.json5e-monster div[src$="#right"] img,
.json5e-monster span[src$="#center"] img,
.json5e-monster span[src$="#right"] img,
.json5e-note div[src$="#center"] img,
.json5e-note div[src$="#right"] img,
.json5e-note span[src$="#center"] img,
.json5e-note span[src$="#right"] img,
.json5e-object div[src$="#center"] img,
.json5e-object div[src$="#right"] img,
.json5e-object span[src$="#center"] img,
.json5e-object span[src$="#right"] img,
.json5e-psionic div[src$="#center"] img,
.json5e-psionic div[src$="#right"] img,
.json5e-psionic span[src$="#center"] img,
.json5e-psionic span[src$="#right"] img,
.json5e-race div[src$="#center"] img,
.json5e-race div[src$="#right"] img,
.json5e-race span[src$="#center"] img,
.json5e-race span[src$="#right"] img,
.json5e-reward div[src$="#center"] img,
.json5e-reward div[src$="#right"] img,
.json5e-reward span[src$="#center"] img,
.json5e-reward span[src$="#right"] img,
.json5e-spell div[src$="#center"] img,
.json5e-spell div[src$="#right"] img,
.json5e-spell span[src$="#center"] img,
.json5e-spell span[src$="#right"] img,
.json5e-vehicle div[src$="#center"] img,
.json5e-vehicle div[src$="#right"] img,
.json5e-vehicle span[src$="#center"] img,
.json5e-vehicle span[src$="#right"] img {
  max-height: 60vh;
}
.json5e-background div[src$="#right"],
.json5e-background span[src$="#right"],
.json5e-class div[src$="#right"],
.json5e-class span[src$="#right"],
.json5e-deck div[src$="#right"],
.json5e-deck span[src$="#right"],
.json5e-deity div[src$="#right"],
.json5e-deity span[src$="#right"],
.json5e-feat div[src$="#right"],
.json5e-feat span[src$="#right"],
.json5e-hazard div[src$="#right"],
.json5e-hazard span[src$="#right"],
.json5e-item div[src$="#right"],
.json5e-item span[src$="#right"],
.json5e-monster div[src$="#right"],
.json5e-monster span[src$="#right"],
.json5e-note div[src$="#right"],
.json5e-note span[src$="#right"],
.json5e-object div[src$="#right"],
.json5e-object span[src$="#right"],
.json5e-psionic div[src$="#right"],
.json5e-psionic span[src$="#right"],
.json5e-race div[src$="#right"],
.json5e-race span[src$="#right"],
.json5e-reward div[src$="#right"],
.json5e-reward span[src$="#right"],
.json5e-spell div[src$="#right"],
.json5e-spell span[src$="#right"],
.json5e-vehicle div[src$="#right"],
.json5e-vehicle span[src$="#right"] {
  max-width: 50%;
}
.json5e-background div[src$="#card"], .json5e-background div[src$="#token"],
.json5e-background span[src$="#card"],
.json5e-background span[src$="#token"],
.json5e-class div[src$="#card"],
.json5e-class div[src$="#token"],
.json5e-class span[src$="#card"],
.json5e-class span[src$="#token"],
.json5e-deck div[src$="#card"],
.json5e-deck div[src$="#token"],
.json5e-deck span[src$="#card"],
.json5e-deck span[src$="#token"],
.json5e-deity div[src$="#card"],
.json5e-deity div[src$="#token"],
.json5e-deity span[src$="#card"],
.json5e-deity span[src$="#token"],
.json5e-feat div[src$="#card"],
.json5e-feat div[src$="#token"],
.json5e-feat span[src$="#card"],
.json5e-feat span[src$="#token"],
.json5e-hazard div[src$="#card"],
.json5e-hazard div[src$="#token"],
.json5e-hazard span[src$="#card"],
.json5e-hazard span[src$="#token"],
.json5e-item div[src$="#card"],
.json5e-item div[src$="#token"],
.json5e-item span[src$="#card"],
.json5e-item span[src$="#token"],
.json5e-monster div[src$="#card"],
.json5e-monster div[src$="#token"],
.json5e-monster span[src$="#card"],
.json5e-monster span[src$="#token"],
.json5e-note div[src$="#card"],
.json5e-note div[src$="#token"],
.json5e-note span[src$="#card"],
.json5e-note span[src$="#token"],
.json5e-object div[src$="#card"],
.json5e-object div[src$="#token"],
.json5e-object span[src$="#card"],
.json5e-object span[src$="#token"],
.json5e-psionic div[src$="#card"],
.json5e-psionic div[src$="#token"],
.json5e-psionic span[src$="#card"],
.json5e-psionic span[src$="#token"],
.json5e-race div[src$="#card"],
.json5e-race div[src$="#token"],
.json5e-race span[src$="#card"],
.json5e-race span[src$="#token"],
.json5e-reward div[src$="#card"],
.json5e-reward div[src$="#token"],
.json5e-reward span[src$="#card"],
.json5e-reward span[src$="#token"],
.json5e-spell div[src$="#card"],
.json5e-spell div[src$="#token"],
.json5e-spell span[src$="#card"],
.json5e-spell span[src$="#token"],
.json5e-vehicle div[src$="#card"],
.json5e-vehicle div[src$="#token"],
.json5e-vehicle span[src$="#card"],
.json5e-vehicle span[src$="#token"] {
  width: 150px;
}
.json5e-background div[src$="#symbol"], .json5e-background div[src$="#portrait"],
.json5e-background span[src$="#symbol"],
.json5e-background span[src$="#portrait"],
.json5e-class div[src$="#symbol"],
.json5e-class div[src$="#portrait"],
.json5e-class span[src$="#symbol"],
.json5e-class span[src$="#portrait"],
.json5e-deck div[src$="#symbol"],
.json5e-deck div[src$="#portrait"],
.json5e-deck span[src$="#symbol"],
.json5e-deck span[src$="#portrait"],
.json5e-deity div[src$="#symbol"],
.json5e-deity div[src$="#portrait"],
.json5e-deity span[src$="#symbol"],
.json5e-deity span[src$="#portrait"],
.json5e-feat div[src$="#symbol"],
.json5e-feat div[src$="#portrait"],
.json5e-feat span[src$="#symbol"],
.json5e-feat span[src$="#portrait"],
.json5e-hazard div[src$="#symbol"],
.json5e-hazard div[src$="#portrait"],
.json5e-hazard span[src$="#symbol"],
.json5e-hazard span[src$="#portrait"],
.json5e-item div[src$="#symbol"],
.json5e-item div[src$="#portrait"],
.json5e-item span[src$="#symbol"],
.json5e-item span[src$="#portrait"],
.json5e-monster div[src$="#symbol"],
.json5e-monster div[src$="#portrait"],
.json5e-monster span[src$="#symbol"],
.json5e-monster span[src$="#portrait"],
.json5e-note div[src$="#symbol"],
.json5e-note div[src$="#portrait"],
.json5e-note span[src$="#symbol"],
.json5e-note span[src$="#portrait"],
.json5e-object div[src$="#symbol"],
.json5e-object div[src$="#portrait"],
.json5e-object span[src$="#symbol"],
.json5e-object span[src$="#portrait"],
.json5e-psionic div[src$="#symbol"],
.json5e-psionic div[src$="#portrait"],
.json5e-psionic span[src$="#symbol"],
.json5e-psionic span[src$="#portrait"],
.json5e-race div[src$="#symbol"],
.json5e-race div[src$="#portrait"],
.json5e-race span[src$="#symbol"],
.json5e-race span[src$="#portrait"],
.json5e-reward div[src$="#symbol"],
.json5e-reward div[src$="#portrait"],
.json5e-reward span[src$="#symbol"],
.json5e-reward span[src$="#portrait"],
.json5e-spell div[src$="#symbol"],
.json5e-spell div[src$="#portrait"],
.json5e-spell span[src$="#symbol"],
.json5e-spell span[src$="#portrait"],
.json5e-vehicle div[src$="#symbol"],
.json5e-vehicle div[src$="#portrait"],
.json5e-vehicle span[src$="#symbol"],
.json5e-vehicle span[src$="#portrait"] {
  width: 200px;
}

/* For decks of cards, ensure images don't overlap */
.json5e-deck h3 {
  clear: both;
}

.json5e-background .inline-title,
.json5e-class .inline-title,
.json5e-deck .inline-title,
.json5e-deity .inline-title,
.json5e-feat .inline-title,
.json5e-hazard .inline-title,
.json5e-item .inline-title,
.json5e-monster .inline-title,
.json5e-note .inline-title,
.json5e-object .inline-title,
.json5e-psionic .inline-title,
.json5e-race .inline-title,
.json5e-reward .inline-title,
.json5e-spell .inline-title,
.json5e-vehicle .inline-title {
  display: none;
}

.creature-view-container.workspace-leaf-content {
  background-color: var(--background-primary-alt);
}
.creature-view-container.workspace-leaf-content .admonition {
  margin-top: 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../src/dnd5e-compendium.scss%22,%22../src/dnd5e/_admonitions.scss%22,%22../src/dnd5e/_statblock.scss%22,%22../src/dnd5e/_float-images-mixin.scss%22,%22../src/dnd5e/_float-images.scss%22,%22../src/dnd5e/_no-inline-title.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;ACAA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAEF;EACE;EACA;;AACA;EACE;;;AAGJ;EACE;;;AAEF;EACE;;;AAEF;AAAA;EAEE;;;AAEF;EACE;EACA;;;AAEF;EACE;;;AAEF;EACE;EACA;;;AAEF;EACE;EACA;EACA;;;AAiBA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;;AAEA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;EACA;;AAEE;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;EACA;EACA;EACA;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAEE;;AACA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;;AAIN;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;;;ACvGN;EACE;;;AAIF;EACE;;;AAEF;EACE;EAyDA;EACA;EACA;;AAzDA;EACE;;AAEA;EACE;EACA;;AAMF;EACE;;AAGF;EACE;;AAGF;AAAA;AAAA;EAGE;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAGF;AAAA;EAEE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAGF;EACE;EACA;;AAUF;AAAA;EAEE;;AAEF;AAAA;EAEE;;AAEF;EACE;EACA;;AAEA;EAEE;;;ACnFJ;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;EACA;EACA;;AAEF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;;AAIA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;;AAGJ;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;;AAEF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAEE;;AAEF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAEE;;;ACZN;AAEE;EACE;;;ACNF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EACE;;;ALTJ;EACE;;AAEA;EACE%22,%22file%22:%22dnd5e-compendium.css%22%7D */
