
body {
  // Font Families
  --pf2e-font-monospace-default: Menlo, SFMono-Regular, Consolas, 'Roboto Mono', 'Source Code Pro', monospace;
  --pf2e-font-monospace-theme: 'Fira Code', Menlo, Monaco, 'Courier New', 'Source Code Pro', Jetbrains Mono;
  --pf2e-font-monospace: var(--pf2e-font-monospace-theme), var(--pf2e-font-monospace-default);
  --pf2e-font-headers-default: 'Nunito', sans-serif;
  --pf2e-font-headers-theme: 'Poppins', 'Montserrat', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  --pf2e-font-headers: var(--pf2e-font-headers-default), var(--pf2e-font-headers-theme);

  // Extras
  --pf2e-dracolich: rgba(137, 184, 176);

  // Box Shadow
  --box-alignment: #666f99;
  --box-rare: #002664;
  --box-size: #527a5f;
  --box-traits: #611405;
  --box-uncommon: #98513d;
  --box-unique: #54166e;
  --box-common: #404040;

    // On Pathfinder Brand
  --pf2e-black-text-rgb: 38, 38, 38;
  --pf2e-black-text: #262626;
  --pf2e-blue-headers-rgb: 11, 37, 96;
  --pf2e-blue-headers: #0b2560;
  --pf2e-red-headers-rgb: 85, 12, 6;
  --pf2e-red-headers: #550c06;
  --pf2e-light-brown-headers: #9f6a57;
  --pf2e-light-brown-headers-rgb: 159, 106, 87;

  // Tables
  --pf2e-beige-table-even-rows-rgb: 244, 239, 226;
  --pf2e-beige-table-even-rows: #f4efe2;
  --pf2e-tan-table-odd-rows-rgb: 236, 228, 203;
  --pf2e-tan-table-odd-rows: #ece4cb;
  --pf2e-brown-table-borders: #9c7566;
  --pf2e-brown-table-borders-rgb: 156, 117, 102;

  // Header Specifics
  --pf2e-header-one: rgba(209, 30, 50, 1);
  --pf2e-header-two: rgba(72, 128, 255, 1);
  --pf2e-header-three: rgba(209, 30, 50, 1);
  --pf2e-header-four: rgba(226, 151, 124, 1);

  // Scrollies
  --scrollbar-active-thumb-bg: rgba(204, 204, 204, 1);
  --scrollbar-hover: rgba(51, 51, 51, 1);
  --scrollbar-thumb-bg: rgba(102, 102, 102, 1);

  // Links
  --pf2e-purple-link: rgb(222, 145, 255);
  --pf2e-blue-link: rgb(64, 105, 157);
  --pf2e-green-link: rgb(154, 205, 50);
}

.theme-light {
  // On Pathfinder Brand
  --pf2e-black-text-rgb: 38, 38, 38;
  --pf2e-black-text: #262626;
  --pf2e-blue-headers-rgb: 11, 37, 96;
  --pf2e-blue-headers: #0b2560;
  --pf2e-red-headers-rgb: 85, 12, 6;
  --pf2e-red-headers: #550c06;
  --pf2e-light-brown-headers: #764f41;
  --pf2e-light-brown-headers-rgb: 118, 79, 65;

  // Tables
  --pf2e-beige-table-even-rows-rgb: 244, 239, 226;
  --pf2e-beige-table-even-rows: #f4efe2;
  --pf2e-tan-table-odd-rows-rgb: 236, 228, 203;
  --pf2e-tan-table-odd-rows: #ece4cb;
  --pf2e-brown-table-borders: var(--pf2e-light-brown-headers);
  --pf2e-brown-table-borders-rgb: rgb(var(--pf2e-light-brown-headers-rgb));
  --pf2e-table-hover-color: 241, 167, 162;

  // Header Specifics
  --pf2e-header-one: rgb(var(--pf2e-red-headers-rgb));
  --pf2e-header-two: rgb(var(--pf2e-blue-headers-rgb));
  --pf2e-header-three: rgb(var(--pf2e-red-headers-rgb));
  --pf2e-header-four: rgb(var(--pf2e-light-brown-headers-rgb));

  // Scrollies
  --scrollbar-active-thumb-bg: rgba(102, 102, 102, 1);
  --scrollbar-hover: rgba(204, 204, 204, 1);
  --scrollbar-thumb-bg: rgba(153, 153, 153, 1);

  // Links
  --pf2e-purple-link: rgb(107, 0, 153);
  --pf2e-blue-link: rgb(0, 73, 97);
  --pf2e-green-link: rgb(19, 138, 6);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'Pathfinder', sans-serif;
  src: url('data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8xOUgAAAC8AAAAYGNtYXBWj1fJAAABHAAAAHRnYXNwAAAAEAAAAZAAAAAIZ2x5ZlORXq8AAAGYAAACYGhlYWQngwOhAAAD+AAAADZoaGVhDDUIawAABDAAAAAkaG10eCWQAIcAAARUAAAAKGxvY2ECvAH8AAAEfAAAABZtYXhwAA8APwAABJQAAAAgbmFtZRV2kxAAAAS0AAACr3Bvc3QAAwAAAAAHZAAAACAAAwTLAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABAAAAIAAAAAAAAAAAAAAAAABAAAArUwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAWAAAABIAEAADAAIAAQAgADArMis7Kz0rU//9//8AAAAAACAAMCsyKzorPStT//3//wAB/+P/1NTT1MzUy9S2AAMAAQAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAgAoACIEHwNXADcAPAAAASYnJicmJyYHBgcGBwYHBgc2NzY3Njc2NzYXFhcWFxYXFgcGBwYHBgcGBwYnFhcWNzY3Njc2NzYBBSc3AQQdFzs8VFNlZWpLQUEzMyQkERUdHSMkKSouVVFRQ0QwMBISEBEsK0RDVRwcGxs/REVFalRUNjYVFPyNAeltOP5MAkdHOTklJQ0ODwsYGCIiKyovGhYXEhINDQcMCwsdHi4uOTo3Ny0uISAMBAECAQ4DAwoPKSg5OEVE/opnldf++wAAAAMAIP/BBmADvwAFAAkADwAACQEHCQEXAQcXNyUBBxcHFwQa/gH2AQj++Pb+vLe3twTS/kDZ6OjZAcAB//f++P749wK2t7e3CAHA2Ojo2QAAAgAC/8AD/gPAAAUACQAACQEHCQEXAQcXNwP+/gD3AQn+9/f+u7e3twHAAgD3/vf+9/cCt7e3twAEAC3/wAhzA8AABQALAA8AFQAACQEHCQEXCQEHFwcXAQcXNyUBBxcHFwQp/gD3AQn+9/cGSv6Yr7u7r/nZt7e3BNz+P9rp6doBwAIA9/73/vf3AgoBaK66u64CFre3twgBwdno6dkAAAMAEP/ABBADwAAEAAkADwAACQQBNxcHJwEnNyc3AQIU/fwB/QID/gT+uG1tbW0BN3H79XwBZwPA/fr+BgIDAf3+EG1tbW3+hHH79nz+mQAAAQAAAAEZmuh46OhfDzz1AAsEAAAAAADf+FLFAAAAAN/4UsUAAP/ACHMDwAAAAAgAAgAAAAAAAAABAAADwP/AAAAIoAAAAAAIcwABAAAAAAAAAAAAAAAAAAAACgQAAAAAAAAAAAAAAAIAAAAEAAAABFAAKAaAACAEAAACCKAALQQgABAAAAAAAAoAFAAeACgAkAC4ANQBCAEwAAAAAQAAAAoAPQAEAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAABIA3gABAAAAAAABAAUAAAABAAAAAAACAAcBrQABAAAAAAADAAUBjwABAAAAAAAEAAUBwgABAAAAAAAFAAsBbgABAAAAAAAGAAUBngABAAAAAAAKADYAzAABAAAAAAANABcADwABAAAAAAAOACgAVAADAAEECQABAAoABQADAAEECQACAA4BtAADAAEECQADAAoBlAADAAEECQAEAAoBxwADAAEECQAFABYBeQADAAEECQAGAAoBowADAAEECQAKAGwBAgADAAEECQANAC4AJgADAAEECQAOAFAAfGZvbnRzAGYAbwBuAHQAc1BhaXpvIENvbW11bml0eSBMaWNlbnNlAFAAYQBpAHoAbwAgAEMAbwBtAG0AdQBuAGkAdAB5ACAATABpAGMAZQBuAHMAZWh0dHBzOi8vcGFpem8uY29tL2NvbW11bml0eS9jb21tdW5pdHl1c2UAaAB0AHQAcABzADoALwAvAHAAYQBpAHoAbwAuAGMAbwBtAC8AYwBvAG0AbQB1AG4AaQB0AHkALwBjAG8AbQBtAHUAbgBpAHQAeQB1AHMAZVBhdGhmaW5kZXIgMmUgQWN0aW9uIEdseXBocwpGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBQAGEAdABoAGYAaQBuAGQAZQByACAAMgBlACAAQQBjAHQAaQBvAG4AIABHAGwAeQBwAGgAcwAKAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALlZlcnNpb24gMS4xAFYAZQByAHMAaQBvAG4AIAAxAC4AMWZvbnRzAGYAbwBuAHQAc2ZvbnRzAGYAbwBuAHQAc1JlZ3VsYXIAUgBlAGcAdQBsAGEAcmZvbnRzAGYAbwBuAHQAcwAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
