// Variables
@use '../../variables/index-obsidian-var' as var;

$length: 1rem;

// UL/LI Styling
  body {
    // Common styles for reading view and live preview
    .markdown-rendered ol,
    .markdown-rendered ul,
    .markdown-preview-view ol,
    .markdown-preview-view ul,
    .markdown-source-view .list-bullet {
      margin-left: var.$width-0-rem;
      padding-left: var.$width-0-rem;
      list-style: none;
    }

    .markdown-rendered li,
    .markdown-source-view .list-bullet {
      padding-left: 1.25rem;
      margin-top: 1.25rem;
      margin-left: 1.25rem;
      position: var.$relative;
      font-size: var.$base-font-size;
      line-height: var.$line-height-1;
    }

    // Reading View
    .markdown-rendered ol,
    .markdown-rendered ul,
    .markdown-preview-view ol,
    .markdown-preview-view ul {
      place-items: center;

      .list-bullet & {
        display: var.$no-display;
      }

      .callout, .admonition & {
        margin-left: var.$width-5-rem;
        padding-left: var.$width-5-rem;
      }

      li:before {
        background-color: var(--pf2e-red-headers);
        border-radius: 50%;
        border: var.$width-2-rem var.$border-solid var(--pf2e-blue-headers);
        color: var(--pf2e-black-text);
        content: '';
        display: block;
        height: 16px;
        left: -3px;
        position: var.$absolute;
        top: -1px;
        width: 16px;
      }

      .markdown-rendered ul.has-list-bullet > li::marker {
        display: var.$no-display;
      }

      .markdown-rendered .list-bullet {
        display: var.$no-display;
      }
    }

    // Live Preview
    .markdown-source-view .list-bullet {
      align-items: var.$align-baseline;
      font-size: var.$base-font-size;
      line-height: var.$line-height-2;
      margin-left: $length;
      margin-top: $length;
      padding-left: 9px;
      position: var.$relative;

      &:before {
        content: '';
      }

      &:after {
        background-color: var(--pf2e-red-headers);
        border-radius: 50%;
        border: var.$width-2-rem var.$border-solid var(--pf2e-blue-headers);
        color: var(--pf2e-black-text);
        content: '';
        height: $length;
        left: -3px;
        position: var.$absolute;
        top: -1px;
        width: $length;
      }
    }
  }

:is(.pf2e) {
   & .list-bullet {
     display: none;

     &::before {
       display: none;
     }

     &::after {
       display: none;
     }
   }
}
