// Variables
@use '../../variables/index-obsidian-var' as var;


.markdown-preview-view {
    h1, h2, h3, h4, h5, h6 {
      align-items: #{var.$align-center};
      display: #{var.$block};
      line-height: 1.25;
      margin-bottom: 1rem;
      margin-top: 1.25rem;
      white-space: pre-wrap;
    }

    h1, h2 {
      border-bottom: 1px ridge rgb(var(--pf2e-red-headers-rgb) 0.50);
      padding-bottom: 0.3em;
    }

    h1 {
      color: var(--pf2e-header-one);
      font-weight: 900;
    }

    h2 {
      color: var(--pf2e-header-two);
      font-weight: 800;
    }

    h3 {
      color: var(--pf2e-header-three);
      font-weight: 700;
    }

    h4 {
      color: var(--pf2e-header-four);
      font-weight: 600;
    }

    h5,
    h6 {
      font-weight: 500;
    }

  & .heading-collapse-indicator {
    color: var(--pf2e-dracolich);
  }
  }



  // Editor
  .cm-header-1,
  .cm-header-2,
  .cm-header-3,
  .cm-header-4,
  .cm-header-5,
  .cm-header-6 {
    font-weight: 500;
  }

  .cm-header-1 {
    font-size: var(--h1-size);
    color: var(--pf2e-header-one);
  }

  .cm-header-2 {
    font-size: var(--h2-size);
    color: var(--pf2e-header-two);
  }

  .cm-header-3 {
    font-size: var(--h3-size);
    color: var(--pf2e-header-three);
  }

  .cm-header-4 {
    font-size: var(--h4-size);
    color: var(--pf2e-header-four);
  }

  .cm-header-5 {
    font-size: var(--h5-size);
    color: var(--h5-color);
  }

  .cm-header-6 {
    font-size: var(--h6-size);
    color: var(--h6-color);
  }
