
// Buttons settings
//

$mix-ghost: false;
$mix-border-radius: 2px;
$mix-font-weight: 600;
$mix-margin: 5px;
$mix-ttransform: capitalize;
$mix-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;

// Color settings
//

$mix-white-color: #fff;
$mix-black-color: #000;
$mix-primary-color: #8cd1a8;
$mix-border-color: transparent;

// Sizes settings
//

$mix-base-font-size: 1rem;
$mix-base-spacing: 2em;
$mix-base-height: 3em;

$mix-small-font-size: .8rem;
$mix-small-spacing: 1.2em;
$mix-small-height: 2em;

$mix-big-font-size: 1.2rem;
$mix-big-spacing: 3em;
$mix-big-height: 3em;
