// How many variables can I have?! A LOT :D

// Specific Colors to Track
$box-condition: #138a06;
$box-skills: #a96c74;
$box-traits: #611405;

// Blacks
$almost-black: rgb(36, 36, 36);

// Browns
$dark-grayish-orange: rgb(160, 148, 127);

// Greys
$very-dark-grey: rgb(51, 51, 51);
$very-light-grey: rgb(232, 232, 232);


// Greens
$dark-lime-green: rgb(19, 138, 6);
$strong-green: rgb(154, 205, 50);
$very-desaturated-dark-cyan-green: rgb(42, 72, 62);

// Yellow
$light-grayish-yellow: rgb(234, 229, 213);
$light-yellow: rgb(255, 219, 88);
$very-soft-yellow: rgb(217, 204, 140);


// Blues
$dark-moderate-blue: rgb(80, 62, 141);
$light-moderate-blue: rgb(64, 105, 157);
$moderate-blue: rgb(116, 90, 205);
$very-dark-blue: rgb(6, 20, 53);
$very-dark-teal: rgb(0, 73, 97);
$very-desaturated-blue: rgb(44, 70, 78);
$very-desaturated-dark-blue: rgb(51, 66, 82);

// Purples
$dark-violet: rgb(107, 0, 153);
$tyrian-purple: #64023b;
$very-light-violet: rgb(222, 145, 255);


// Pinks


// Red
$dark-grayish-magenta: rgb(80, 67, 79);
$dark-red: rgb(128, 0, 0);
$very-desaturated-red: rgb(102, 51, 51);
$very-light-red: rgb(255, 143, 143);


// Orange
$strong-orange: rgb(204, 72, 0);
