name: PR Maven Build

on:
  pull_request:
    paths:
      - "**.xml"
      - "*.yml"
      - "src/**"
      - "ide-config"

permissions:
  contents: read
  actions: read

env:
  JAVA_VERSION: 17
  NATIVE_VERSION: 22.3.2
  GRAALVM_DIST: graalvm-community
  JAVA_DISTRO: temurin
  GH_BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  GH_BOT_NAME: "GitHub Action"

jobs:

  metadata:
    uses: ebullient/workflows/.github/workflows/java-snap-metadata.yml@main

  build:
    runs-on: ubuntu-latest
    needs: [metadata]

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        id: tools5e-cache
        with:
          path: sources
          key: Data-5etools-
          restore-keys: |
            Data-5etools-
            Data-5etools

      - uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        id: pf2e-cache
        with:
          path: sources/Pf2eTools
          key: Data-Pf2eTools-
          restore-keys: |
            Data-Pf2eTools-
            Data-Pf2eTools

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@2dfa2011c5b2a0f1489bf9e433881c92c1631f88 # v4.3.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
          cache: maven

      - name: Build with Maven
        id: mvn-build
        run: |
          ls -al sources
          ./mvnw -B -ntp -DskipFormat verify

  native-build:

    name: Test on ${{ matrix.os }}
    needs: [metadata]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        id: tools5e-cache
        with:
          path: sources
          key: Data-5etools-
          restore-keys: |
            Data-5etools-
            Data-5etools
          enableCrossOsArchive: true

      - uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        id: cache
        with:
          path: sources/Pf2eTools
          key: Data-Pf2eTools-
          restore-keys: |
            Data-Pf2eTools-
            Data-Pf2eTools
          enableCrossOsArchive: true

      - uses: graalvm/setup-graalvm@22cc13fe88ef133134b3798e128fb208df55e1f5 # v1.2.3
        with:
          distribution: ${{ env.GRAALVM_DIST }}
          java-version: ${{ env.JAVA_VERSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.NATIVE_VERSION }}
          cache: 'maven'

      - name: Build and run in native mode
        id: mvn-native-build
        env:
          MAVEN_OPTS: "-Xmx1g"
        run: |
          ./mvnw -B -ntp -Dnative -DskipTests  -DskipFormat verify

