name: Test with data (scheduled)
on:
  schedule:
    - cron: "7 9 * * */5"

  workflow_dispatch:

env:
  JAVA_VERSION: 17
  JAVA_DISTRO: temurin
  NATIVE_JAVA_VERSION: 23
  GRAALVM_DIST: graalvm-community
  FAIL_ISSUE: 140

permissions: read-all

jobs:
  metadata:
    uses: ebullient/workflows/.github/workflows/java-snap-metadata.yml@65cfcd66420f2a8032c82e84bd6688a1a64713a9 # 2.0.1

  build:
    runs-on: ubuntu-latest
    needs: [metadata]
    outputs:
      cache_key: ${{ steps.data_cache.outputs.cache_key }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: data_cache
        uses: ./.github/actions/data-cache

      - name: Build with Maven
        uses: ebullient/workflows/.github/actions/maven-build@65cfcd66420f2a8032c82e84bd6688a1a64713a9 # 2.0.1
        with:
          artifact: ${{ needs.metadata.outputs.artifact }}
          version: ${{ needs.metadata.outputs.snapshot }}
          java-version: ${{ env.JAVA_VERSION }}
          java-distribution: ${{ env.JAVA_DISTRO }}

  native-build:
    runs-on: ubuntu-latest
    needs: [metadata, build]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - uses: ./.github/actions/native-data-cache
        with:
          cache_key: ${{ needs.build.outputs.cache_key }}

      - name: Native build with Maven
        uses: ebullient/workflows/.github/actions/native-build@65cfcd66420f2a8032c82e84bd6688a1a64713a9 # 2.0.1
        with:
          artifact: ${{ needs.metadata.outputs.artifact }}
          version: ${{ needs.metadata.outputs.snapshot }}
          native-java-version: ${{ env.NATIVE_JAVA_VERSION }}
          distribution: ${{ env.GRAALVM_DIST }}
          matrix-os: ubuntu-latest

  report-native-build:

    name: Report errors
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    needs: [build, native-build]
    permissions:
      contents: read
      issues: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - id: gh-issue
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh issue comment ${{ env.FAIL_ISSUE }} --body "[Maven build failed: ${{ github.run_id }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          gh issue reopen ${{ env.FAIL_ISSUE }}
